.node text {
    pointer-events: visible;
    font: 10px sans-serif;
}


.node text.display-short {
    display: block;
}
.node text.display-full {
    display: none;
}
.node:hover text.display-short {
    display: none;
}
.node:hover {
    cursor: pointer;
}
.node:hover text.display-full {
    display: block;
    fill: blue;
    text-decoration: underline;
}


#controls_panel {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px;
    height: 200px;
    padding: 10px;
    background-color: #DFE9F6;
    border-color: #99BCE8;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

p.message {
    background: none repeat scroll 0 0 #F6E17B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    color: #282828;
    font-size: 13pt;
    padding: 30px;

    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
}

.node circle {
    stroke: black;
    stroke-width: 1px;
}

.node circle.highlighted {
    stroke: slateBlue;
    stroke-width: 3px;
}

.severity_critical {
    fill: #ff0000;
}
.severity_error {
    fill: #ff8c00;
}
.severity_warning {
    fill: #ffd700;
}
.severity_info {
    fill: #00ff00;
}
.severity_debug {
    fill: #00af00;
}
.severity_none {
    fill: #ffffff;
}
.link {
    stroke-width: 0px;
}
.tooltip {
    position: fixed;
    z-index: 10;
    background-color: #DFE9F6;
    border-color: #99BCE8;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
